html,
body {
  font-family: "Raleway", sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Josefin Slab", serif; }

a {
  cursor: pointer; }

dt {
  font-weight: normal; }

nav {
  font-family: "Raleway", sans-serif;
  font-weight: 500; }
  nav .navbar-brand div {
    font-size: 1.10em; }
  nav .navbar-brand div ~ div {
    font-size: 0.75em;
    margin-top: -5px; }
  nav .navbar-nav:first-child .nav-link {
    min-width: 50px; }
  nav .navbar-nav .dropdown-menu {
    z-index: 2; }

.jumbotron {
  background-color: transparent; }

.main {
  margin-top: 76px; }

.no-hover:hover {
  color: inherit;
  text-decoration: none; }

.terminal-card {
  margin: 0 0 0 0;
  font-family: "PT Mono", monospace;
  font-size: 1.25rem;
  border: none;
  background-color: #F5F1E6; }
  .terminal-card > div {
    padding: 10px 10px 10px 10px; }
  .terminal-card ~ .terminal-card {
    margin-top: 16px; }
  .terminal-card pre {
    margin-bottom: 5px;
    font-family: inherit;
    font-size: inherit; }
  .terminal-card p {
    margin-bottom: 5px; }
    .terminal-card p::before {
      content: "$ "; }
  .terminal-card .card-body {
    padding: 5px 10px 10px 10px; }
  .terminal-card .card-title span {
    font-size: 1rem; }
    .terminal-card .card-title span ~ span {
      padding-left: 7px;
      color: #FBE5B3; }
    .terminal-card .card-title span:first-child {
      color: #DEACAB; }
    .terminal-card .card-title span:last-child {
      color: #67A77A; }

.rstudio-new-project {
  /* modified bootstrap classes */
  /* icons */
  /* misc */
  /* font-awesome adjustments */ }
  .rstudio-new-project .list-group-item-action.active {
    color: inherit;
    background-color: #DCE6F5;
    border-color: #DCE6F5; }
  .rstudio-new-project .card-footer {
    height: 24.5 px; }
  .rstudio-new-project textarea {
    resize: none; }
  .rstudio-new-project .new-directory-icon {
    color: #E9F5FB; }
  .rstudio-new-project .existing-directory-icon {
    color: #F1D791; }
  .rstudio-new-project .version-control-icon {
    color: #B98D5A; }
  .rstudio-new-project .r-package-icon {
    color: #92A3B5; }
  .rstudio-new-project .option-title {
    font-weight: 500; }
  .rstudio-new-project .project-type {
    font-size: 0.75em; }
  .rstudio-new-project *[data-toggle="tab"] {
    cursor: pointer; }
  .rstudio-new-project .dropdown-select button, .rstudio-new-project .dropdown-select a {
    cursor: pointer; }
  .rstudio-new-project .dropdown-select .active {
    background-color: white; }
  .rstudio-new-project .fa-check-square::before, .rstudio-new-project .fa-square::before {
    background-color: white; }

.fixed-top-right {
  position: fixed;
  top: 92;
  right: 0;
  z-index: 2; }

.package-structure .fa-folder {
  color: #F1D791; }
  .package-structure .fa-folder ~ span::after {
    content: "/"; }
.package-structure .fa-file {
  color: #858585; }

.font-smaller {
  font-size: 0.75rem; }

.font-large {
  font-size: 1.25rem; }

.font-larger {
  font-size: 1.35rem; }

.font-light {
  font-weight: 300; }

.font-blokk {
  font-family: "BLOKK"; }

@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: 1rem; } }
@media only screen and (min-width: 390px) {
  .flow-text {
    font-size: 1.01rem; } }
@media only screen and (min-width: 420px) {
  .flow-text {
    font-size: 1.02rem; } }
@media only screen and (min-width: 450px) {
  .flow-text {
    font-size: 1.03rem; } }
@media only screen and (min-width: 480px) {
  .flow-text {
    font-size: 1.04rem; } }
@media only screen and (min-width: 510px) {
  .flow-text {
    font-size: 1.05rem; } }
@media only screen and (min-width: 540px) {
  .flow-text {
    font-size: 1.06rem; } }
@media only screen and (min-width: 570px) {
  .flow-text {
    font-size: 1.07rem; } }
@media only screen and (min-width: 600px) {
  .flow-text {
    font-size: 1.08rem; } }
@media only screen and (min-width: 630px) {
  .flow-text {
    font-size: 1.09rem; } }
@media only screen and (min-width: 660px) {
  .flow-text {
    font-size: 1.1rem; } }
@media only screen and (min-width: 690px) {
  .flow-text {
    font-size: 1.11rem; } }
@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: 1.12rem; } }
@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: 1.13rem; } }
@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: 1.14rem; } }
@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: 1.15rem; } }
@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: 1.16rem; } }
@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: 1.17rem; } }
@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: 1.18rem; } }
@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: 1.19rem; } }
@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 1.2rem; } }
@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: 1.0rem; } }

@media only screen and (min-width: 360px) {
  .flow-text-large {
    font-size: 2.4rem; } }
@media only screen and (min-width: 390px) {
  .flow-text-large {
    font-size: 2.43rem; } }
@media only screen and (min-width: 420px) {
  .flow-text-large {
    font-size: 2.46rem; } }
@media only screen and (min-width: 450px) {
  .flow-text-large {
    font-size: 2.49rem; } }
@media only screen and (min-width: 480px) {
  .flow-text-large {
    font-size: 2.52rem; } }
@media only screen and (min-width: 510px) {
  .flow-text-large {
    font-size: 2.55rem; } }
@media only screen and (min-width: 540px) {
  .flow-text-large {
    font-size: 2.58rem; } }
@media only screen and (min-width: 570px) {
  .flow-text-large {
    font-size: 2.61rem; } }
@media only screen and (min-width: 600px) {
  .flow-text-large {
    font-size: 2.64rem; } }
@media only screen and (min-width: 630px) {
  .flow-text-large {
    font-size: 2.67rem; } }
@media only screen and (min-width: 660px) {
  .flow-text-large {
    font-size: 2.7rem; } }
@media only screen and (min-width: 690px) {
  .flow-text-large {
    font-size: 2.73rem; } }
@media only screen and (min-width: 720px) {
  .flow-text-large {
    font-size: 2.76rem; } }
@media only screen and (min-width: 750px) {
  .flow-text-large {
    font-size: 2.79rem; } }
@media only screen and (min-width: 780px) {
  .flow-text-large {
    font-size: 2.82rem; } }
@media only screen and (min-width: 810px) {
  .flow-text-large {
    font-size: 2.85rem; } }
@media only screen and (min-width: 840px) {
  .flow-text-large {
    font-size: 2.88rem; } }
@media only screen and (min-width: 870px) {
  .flow-text-large {
    font-size: 2.91rem; } }
@media only screen and (min-width: 900px) {
  .flow-text-large {
    font-size: 2.94rem; } }
@media only screen and (min-width: 930px) {
  .flow-text-large {
    font-size: 2.97rem; } }
@media only screen and (min-width: 960px) {
  .flow-text-large {
    font-size: 3rem; } }

@media only screen and (min-width: 360px) {
  .flow-text-xl {
    font-size: 4.25rem; } }
@media only screen and (min-width: 405px) {
  .flow-text-xl {
    font-size: 4.31375rem; } }
@media only screen and (min-width: 450px) {
  .flow-text-xl {
    font-size: 4.3775rem; } }
@media only screen and (min-width: 495px) {
  .flow-text-xl {
    font-size: 4.44125rem; } }
@media only screen and (min-width: 540px) {
  .flow-text-xl {
    font-size: 4.505rem; } }
@media only screen and (min-width: 585px) {
  .flow-text-xl {
    font-size: 4.56875rem; } }
@media only screen and (min-width: 630px) {
  .flow-text-xl {
    font-size: 4.6325rem; } }
@media only screen and (min-width: 675px) {
  .flow-text-xl {
    font-size: 4.69625rem; } }
@media only screen and (min-width: 720px) {
  .flow-text-xl {
    font-size: 4.76rem; } }
@media only screen and (min-width: 765px) {
  .flow-text-xl {
    font-size: 4.82375rem; } }
@media only screen and (min-width: 810px) {
  .flow-text-xl {
    font-size: 4.8875rem; } }
@media only screen and (min-width: 855px) {
  .flow-text-xl {
    font-size: 4.95125rem; } }
@media only screen and (min-width: 900px) {
  .flow-text-xl {
    font-size: 5.015rem; } }
@media only screen and (min-width: 945px) {
  .flow-text-xl {
    font-size: 5.07875rem; } }
@media only screen and (min-width: 990px) {
  .flow-text-xl {
    font-size: 5.1425rem; } }
@media only screen and (min-width: 1035px) {
  .flow-text-xl {
    font-size: 5.20625rem; } }
@media only screen and (min-width: 1080px) {
  .flow-text-xl {
    font-size: 5.27rem; } }
@media only screen and (min-width: 1125px) {
  .flow-text-xl {
    font-size: 5.33375rem; } }
@media only screen and (min-width: 1170px) {
  .flow-text-xl {
    font-size: 5.3975rem; } }
@media only screen and (min-width: 1215px) {
  .flow-text-xl {
    font-size: 5.46125rem; } }
@media only screen and (min-width: 1260px) {
  .flow-text-xl {
    font-size: 5.525rem; } }
