html,
body {
  font-family: "Raleway", sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Josefin Slab", serif; }

nav {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 500; }
  nav .navbar-brand div {
    font-size: 1.10em; }
  nav .navbar-brand div ~ div {
    font-size: 0.75em;
    margin-top: -5px; }
  nav .navbar-nav:first-child .nav-link {
    min-width: 50px; }

.terminal-card {
  margin: 0 0 0 0;
  font-family: "PT Mono", monospace;
  font-size: 1.25rem;
  border: none;
  background-color: #F5F1E6; }
  .terminal-card > div {
    padding: 10px 10px 10px 10px; }
  .terminal-card ~ .terminal-card {
    margin-top: 16px; }
  .terminal-card pre {
    margin-bottom: 5px;
    font-family: inherit;
    font-size: inherit; }
  .terminal-card p {
    margin-bottom: 5px; }
    .terminal-card p::before {
      content: "$ "; }
  .terminal-card .card-title span {
    font-size: 1rem; }
    .terminal-card .card-title span ~ span {
      padding-left: 7px;
      color: #FBE5B3; }
    .terminal-card .card-title span:first-child {
      color: #DEACAB; }
    .terminal-card .card-title span:last-child {
      color: #67A77A; }

.rstudio-new-project {
  /* modified bootstrap classes */
  /* icons */
  /* misc */
  /* font-awesome adjustments */ }
  .rstudio-new-project .list-group-item {
    cursor: pointer; }
    .rstudio-new-project .list-group-item ~ .list-group-item {
      border-bottom-width: 0; }
    .rstudio-new-project .list-group-item.active {
      color: inherit;
      background-color: #DCE6F5;
      border-color: #DCE6F5; }
  .rstudio-new-project .list-group-item-action:hover {
    background-color: #DCE6F5; }
  .rstudio-new-project .card-header:first-child {
    padding: 8px 20px 8px 20px;
    line-height: 8px;
    font-size: 0.75em;
    background-color: #E1E2E5; }
  .rstudio-new-project .card-header ~ .card-header {
    font-weight: 500;
    background-color: #F3F4F4;
    border: 0; }
  .rstudio-new-project .card-footer {
    height: 24.5 px;
    background-color: #F3F4F4; }
  .rstudio-new-project .form-group input, .rstudio-new-project .form-group select, .rstudio-new-project .form-group option,
  .rstudio-new-project .form-row input,
  .rstudio-new-project .form-row select,
  .rstudio-new-project .form-row option {
    cursor: pointer; }
  .rstudio-new-project .form-group textarea,
  .rstudio-new-project .form-row textarea {
    cursor: pointer;
    resize: none; }
  .rstudio-new-project .new-directory-icon {
    color: #E9F5FB; }
  .rstudio-new-project .existing-directory-icon {
    color: #F1D791; }
  .rstudio-new-project .version-control-icon {
    color: #B98D5A; }
  .rstudio-new-project .r-package-icon {
    color: #92A3B5; }
  .rstudio-new-project .option-title {
    font-weight: 500; }
  .rstudio-new-project .project-type {
    font-size: 0.75em; }
  .rstudio-new-project .fake-input {
    cursor: pointer;
    height: 24px; }
  .rstudio-new-project .shrink {
    font-size: 0.75em; }
  .rstudio-new-project *[data-toggle="tab"] {
    cursor: pointer; }
  .rstudio-new-project .dropdown-select button, .rstudio-new-project .dropdown-select a {
    cursor: pointer; }
  .rstudio-new-project .dropdown-select .active {
    background-color: white; }
  .rstudio-new-project .fa-check-square::before, .rstudio-new-project .fa-square::before {
    background-color: white; }

.example p:last-child {
  margin-bottom: 0; }
