---
layout: default
---
{% assign workflow = site.workflows | where: "type", "rstudio" | first %}
{% assign examples = site.examples | where: "type", "rstudio" %}

<div class="row">
  <div class="col col-12 mt-4">
    
    {% title %}
    {{ workflow.heading }}
    {% endtitle %}
    
    <hr class="w-50 mx-auto">
    
    {% if workflow.order %}

    {% for name in workflow.order %}
    {{ examples | where: "basename", name | first }}
    <hr class="w-50 mx-auto">
    {% endfor %}

    {% else %}
    
    {% for e in examples %}
    {{ e }}
    <hr class="w-50 mx-auto">
    {% endfor %}

    {% endif %}
    
  </div>
</div>
