<script>
 $(document).ready(function() {
     $(document)
	 .find(".tab-content")
	 .map(function(i, t) {
	     var $children = $(t).children(".tab-pane");

	     console.log($children);
	     
	     console.log(mh);
	     
	     var mh = $children
		 .map((i, e) => $(e).height())
		 .get()
		 .reduce((max, num) => Math.max(max, num));
	     
	     $children.each((i, e) => $(e).height(mh));	     
	 });
     
     $(".dropdown-select").on("click", "a", function(e) {
	 var $this = $(this);
	 $this.closest(".dropdown-select").find(".dropdown-select-label").first().text($this.text());
     });
     
     $(".table-hover").on("click", "tr[data-url]", function(e) {
	 window.open($(this).data("url"));
     })
 });    
</script>
