html {
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Josefin Slab", serif;
}

nav {
    font-family: "Raleway", sans-serif;
    font-weight: 500;

    .ppml-brand {
	div {
	    font-size: 1.10em;
	}
	
	div ~ div {
	    font-size: 0.75em;
	    margin-top: -5px;
	}
    }
}
