// hover color #DCE6F5

.project-prompt {
    .list-group-item {
	cursor: pointer;

	& ~ .list-group-item {
	    border-bottom-width: 0;
	}
    }

    .list-group-item-action {
	&:hover {
	    background-color: #DCE6F5;
	}
    }

    .new-directory-icon {
	color: #E9F5FB; //#D9E9F7;
    }

    .existing-directory-icon {
	color: #F1D791;
    }

    .version-control-icon {
	color: #B98D5A;
    }
    
    .card-header {
	&:first-child {
	    padding: 8px 20px 8px 20px;
	    line-height: 8px;
	    font-size: 0.75em;
	    background-color: #E1E2E5;
	}

	& ~ .card-header {
	    font-weight: 500;
	    background-color: #F3F4F4;
	    border: 0;
	}
    }

    .card-footer {
	height: 49px;
	background-color: #F3F4F4;
    }

    .option-title {
	font-weight: 500;
    }

    .project-type {
	font-size: 0.75em;
    }
}

.project-type {
    .list-group-item {
	cursor: pointer;
//	padding: 6px 20px 6px 20px;

	& ~ .list-group-item {
	    border-bottom-width: 0;
	}
    }

    .list-group-item-action {
	&:hover {
	    background-color: #DCE6F5;
	}
    }

    .new-directory-icon {
	color: #E9F5FB;
    }

    .r-package-icon {
	color: #92A3B5;
    }
    
    .card-header {
	&:first-child {
	    padding: 8px 20px 8px 20px;
	    line-height: 8px;
	    font-size: 0.75em;
	    background-color: #E1E2E5;
	}

	& ~ .card-header {
	    font-weight: 500;
	    background-color: #F3F4F4;
	    border: 0;
	}
    }

    .card-footer {
	height: 49px;
	background-color: #F3F4F4;
    }

    .option-title {
	font-weight: 500;
    }
}
