.rstudio-new-project {
    /* modified bootstrap classes */
    .list-group-item {
	
	& ~ .list-group-item {
	    border-bottom-width: 0;
	}
    }

    .list-group-item-action {
	&:hover {
	    background-color: transparent;
	}

	&.active {
	    color: inherit;
	    background-color: #DCE6F5;
	    border-color: #DCE6F5;
	}
    }

    .card-header {
	&:first-child {
	    padding: 8px 20px 8px 20px;
	    line-height: 8px;
	    font-size: 0.75em;
	    background-color: #E1E2E5;
	}

	& ~ .card-header {
	    font-weight: 500;
	    background-color: #F3F4F4;
	    border: 0;
	}
    }
    
    .card-footer {
	height: (49 / 2)px;
	background-color: #F3F4F4;
    }

    .form-group,
    .form-row {
	input, select, option {
	    cursor: pointer;
	}

	textarea {
	    cursor: pointer;
	    resize: none;
	}
    }

    /* icons */
    .new-directory-icon {
	color: #E9F5FB;
    }

    .existing-directory-icon {
	color: #F1D791;
    }

    .version-control-icon {
	color: #B98D5A;
    }

    .r-package-icon {
	color: #92A3B5;
    }
    
    /* misc */
    .option-title {
	font-weight: 500;
    }
    
    .project-type {
	font-size: 0.75em;
    }

    .shrink {
	font-size: 0.75em;
    }

    *[data-toggle="tab"] {
	cursor: pointer;
    }

    .dropdown-select {
	button, a {
	    cursor: pointer;
	}
	
	.active {
	    background-color: white;
	}
    }

    /* font-awesome adjustments */
    .fa-check-square, .fa-square {
	&::before {
	    background-color: white;
	}
    }
}
