.terminal-card {
    margin: 0 0 0 0;
    font-family: "PT Mono", monospace;
    border: none;
    background-color: #F5F1E6;

    & > div {
	padding: 10px 10px 10px 10px;
    }

    & ~ .terminal-card {
	margin-top: 16px;
    }

    p {
	font-size: 1.25em;
	margin-bottom: 5px;
	
	&.command {
	    &::before {
		content: "$ ";
	    }
	}

	&.output {

	}
    }

    .card-title {
	span {
	    & ~ span {
		padding-left: 7px;
    		color: #FBE5B3;
	    }
	
	    &:first-child {
		color: #DEACAB;
	    }


	    &:last-child {
		color: #67A77A; //#556A5B;
	    }
	}
    }
}
