---
layout: default
---
{% assign workflow = site.workflows | where: "type", "git" | first %}
{% assign examples = site.examples | where: "type", "git" %}

<div class="row">
  <div class="col col-12 mt-4">
    
    {% title %}
    {{ workflow.heading }}
    {% endtitle %}
    
    <hr class="w-50 mx-auto">

    {% if workflow.order %}

    {% for file in workflow.order %}
    {{ examples | where: "basename", file | first }}
    <hr class="w-50 mx-auto">
    {% endfor %}

    {% else %}

    {% for example in examples %}
    {{ example }}
    <hr class="w-50 mx-auto">
    {% endfor %}

    {% endif %}

  </div>
</div>
