---
---
{% if page.type contains "rstudio" %}

{% if page.type contains "project" %}

<div class="tab-content flow-text">

  {{ page.excerpt | markdownify }}
  
  {% assign paragraphs = page.content | remove: page.excerpt | paragraph_split %}

  {% for p in paragraphs %}
  <div class="tab-pane fade{% if forloop.first == true %} show active{% endif %}" id="{{ page.id | idify }}-{{ forloop.index }}" role="tabpanel">
    {{ p | markdownify }}
  </div>
  {% endfor %}
  
</div>
{% endif %}

{% elsif page.type contains "git" %}

<div class="flow-text">
  
  {{ content | markdownify }}
  
</div>

{% elsif page.type contains "package" %}

<div class="flow-text">
  
  {{ content | markdownify }}
  
</div>

{% else %}

<div class="alert alert-warning">
  No description layout for type {{ page.type }}
</div>

{% endif %}
