---
---
{% assign name = page.slug | append: ".html" %}
{% assign type = page.type | join: " " %}

{% assign desc = site.descriptions | where2: "type", type | where: "basename", name | first %}

{% assign fig = site.figures | where2: "type", type | where: "basename", name | first %}

<div class="example row">
  <div class="col col-12 col-md-4 col-lg-5 mb-3 mb-md-0">
    
    <h3>
      {{ page.heading }}
    </h3>

    {% if desc %}
    {{ desc }}
    
    {% else %}
    <div class="alert alert-warning d-inline-block">
      Could not find _descriptions/{{ page.type | join: "/" }}/{{ name }} file.
    </div>
    {% endif %}
  </div>

  <div class="col col-12 col-md-8 col-lg-7">
    {% if fig %}
    {{ fig }}
    
    {% else %}
    <div class="alert alert-warning d-inline-block">
      Could not find _figures/{{ page.type | join: "/" }}/{{ name }} file.
    </div>
    {% endif %}
    
  </div>
    
</div>
