---
---
{% assign name = page.slug | append: ".html" %}

{% assign desc = site.descriptions | where: "type", page.type | where: "basename", name | first %}
{% assign fig = site.figures | where2: "type", page.type | where: "basename", name | first %}

{% if fig %}

<div class="example row">
  <div class="col col-12 col-md-6 mb-3 mb-md-0">
    
    <h3>
      {{ page.heading }}
    </h3>

    {% if desc %}
    
    {{ desc }}
    
    {% else %}
    
    <div class="alert alert-warning d-inline-block">
      Could not find a {{ name }} description file.
    </div>
    
    {% endif %}
  </div>

  <div class="col col-12 col-md-6">
    {% if fig %}
    
    {{ fig }}
    
    {% else %}
    
    <div class="alert alert-warning d-inline-block">
      Could not find {{ name }} description file.
    </div>
    
    {% endif %}
    
  </div>
    
</div>

{% else %}

<div class="col col-12 col-sm-10 mx-auto">
  {{ content }}
</div>

{% endif %}
