---
---
<div class="example row">
  {% if page.description %}
  <div class="col col-12 col-sm-3 col-md-4 col-lg-5 mb-3 mb-sm-0">

    {% if page.heading %}
    <h3 class="mb-3">{{ page.heading }}</h3>
    {% endif %}

    <div class="tab-content">
      
      {{ page.description[0] | markdownify }}
      
      {% for desc in page.description offset:1 %}
      
      <div class="tab-pane fade{% if forloop.first == true %} show active{% endif %}" id="{{ page.id | basename }}-{{ forloop.index }}" role="tabpanel">
	
	{{ desc | markdownify }}
	
      </div>
    
     {% endfor %}
    </div>
    
  </div>
  <div class="col col-12 col-sm-9 col-md-8 col-lg-7">

    {{ content }}
    
  </div>
  {% else %}
  <div class="col col-12">

    {{ content }}
    
  </div>  
  {% endif %}
</div>
